# Use root/example as user/password credentials
version: '3.1'

services:

  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/app
      - ./tmp:/tmp_data
    working_dir: /app
    environment:
      NODE_ENV: development
      GOOGLE_APPLICATION_CREDENTIALS: /app/GOOGLE_APPLICATION_CREDENTIALS.json
    ports:
      - 5555:5555
    restart: always
    command: npm run start